* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.links {
  position: fixed;
  width: 30%;
  height: 100%;
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;  
  display: flex;
  flex-direction: column;
}

.links nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.links nav a {
  margin: 5px;
  color: blueviolet;
  text-align: left;
}

.links nav a:hover {
  transition: all ease-in-out 0.1s;
  color: orange;
  text-decoration: underline;
}

.links footer {
  font-size: 12px;
  font-weight: normal;
  color: #eeccee;
  text-decoration: none;
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 2px #eeccee solid;
  padding-top: 20px;
}
.links footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto
}
.links footer img {
  width: 24px;
}

#logo {
  position: relative;
  margin: 20px;
  margin-bottom: 0;
}
#logo img {
  width: 60%;
}

.hackabee-texts {
  position: relative;
  width: 70%;
  height: auto;
  content: '';
  margin: 0 0 0 40%;
  padding: 20px 40px 20px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#header-image {
  position: relative;
  width: 100%;
  margin: auto auto 20px auto;
}

.hackabee-texts h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  margin: 10px auto 10px 15px;
  border-left:orange 4px solid;
  padding-left: 5px;
}

.hackabee-texts p {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  line-height: 1.4;
  font-size: 14pt;
  text-indent: 15px;
  margin: 15px auto;
}
